.main {
    background: black;
    width: 100vw;
    height: 100vw;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.controlSection {
    background: transparent;
    border-radius: 30px;
    width: 100vw;
    border: none;
    color: white;
    margin: auto;
}


.bar {
    background: transparent;
    border: white 2px solid;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    width: fit-content;
}

#button {
    cursor: pointer;
    border-radius: 30px;
}

.disconnectBtn {
    background: darkred;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    width: auto;
    font-size: 16px;
}

.toggleBtn{
    border: white 2px solid;
    padding: 10px;
}

.toggleBtnActive {
    border: white 2px solid;
    padding: 10px;
    background: white;
    color: black;
}