/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/app/styles/SupportPage.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.SupportPage_main__VvHbu {
    background: black;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;
    color: white;
    font-size: 20px;
    padding: 10px;
}

.SupportPage_controlSection__ujsy7 {
    background: transparent;
    border-radius: 30px;
    width: fit-content;
    border: none;
    color: white;
    margin: auto;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/livekit/styles/SimpleVoiceAssistant.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.SimpleVoiceAssistant_mainContainer__8de6i{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: 5vh;
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/livekit/styles/Controls.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************/
.Controls_bar__X4yHE {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    width: fit-content;
}

.Controls_button__DkEIq {
    cursor: pointer;
    border-radius: 30px;
}

.Controls_disconnectBtn__hDaw1 {
    background: darkred;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    width: auto;
    font-size: 16px;
}

.Controls_toggleBtn__wcggO{
    border: white 2px solid;
    padding: 10px;
}

.Controls_toggleBtnActive__S3f4_ {
    border: white 2px solid;
    padding: 10px;
    background: white;
    color: black;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[5].use[3]!./src/components/livekit/styles/ChatVisualizer.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.ChatVisualizer_mainContainer__XQLE_{
    background: transparent;
    display: flex;
    width: fit-content;
}

.ChatVisualizer_section___XvNS {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: 48vw;
    height: 75vh;
    margin: auto;
}

.ChatVisualizer_messageSection__qTo_G{
    border-radius: 30px 0px 0px 30px;
}

.ChatVisualizer_visualizerSection__aF0n9{
    border-radius: 0px 30px 30px 0px;
}
