.mainContainer{
    background: transparent;
    display: flex;
    width: fit-content;
}

.section {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    padding: 10px;
    width: 48vw;
    height: 80vh;
    margin: auto;
}

.messageSection{
    border-radius: 30px 0px 0px 30px;
    border-width: 1px 0px 1px 1px;
}

.visualizerSection{
    border-radius: 0px 30px 30px 0px;
    border-width: 1px 1px 1px 1px;
}
