.bar {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-radius: 30px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    margin-top: 10px;
    width: fit-content;
}

.button {
    cursor: pointer;
    border-radius: 30px;
}

.disconnectBtn {
    background: darkred;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    width: auto;
    font-size: 16px;
}

.toggleBtn{
    border: white 2px solid;
    padding: 10px;
}

.toggleBtnActive {
    border: white 2px solid;
    padding: 10px;
    background: white;
    color: black;
}